name: example
description: Example app for elevenlabs_flutter SDK
version: 1.0.0
publish_to: 'none'

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  elevenlabs_flutter:
    path: ../
  permission_handler: ^11.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

